# Modello delle variabili d'ambiente. 
# Copia questo file, nominalo '.env' e compila i campi.

IMAGE_NAME=il-tuo-username-docker/rf-worker:latest
EC2_ID=inserisci_qui_il_nome_ec2 (es. Alpha, Beta, Locale)
ENV_MODE=local_o_aws
TRAINING_MODE=centralized_o_federated