# === CONFIGURAZIONI E SEGRETI ===
# Ignora il file .env reale contenente le configurazioni specifiche dell'host
.env
.env.local
.env.*.local

# === DATI LOCALI / DATABASE FINTO ===
# Impedisce di caricare su Git i file JSON generati dai test locali di DynamoDB
data/db_files/
*.json




