boto3==1.42.44
botocore==1.42.44
grpcio==1.76.0
grpcio-tools==1.76.0
jmespath==1.1.0
joblib==1.5.3
numpy==2.0.2
pandas==2.3.3
protobuf==6.33.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
s3transfer==0.16.0
scikit-learn==1.6.1
scipy==1.13.1
threadpoolctl==3.5.0
cloudpickle==3.1.0
ray==2.44.0
dask==2025.2.0
distributed==2025.2.0
dask-ml==2025.1.0